/*******************  SCROLL  ***********************/
.scrollbar::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.scrollbar::-moz-scrollbar-button {
    width: 0;
    height: 0;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
    /*border: 1px solid #fff;*/
}

.scrollbar::-moz-scrollbar-track {
    background-color: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
}

.scrollbar::-moz-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .3);
}

.scrollbar::-moz-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .3);
}

.scrollbar::-webkit-resizer {
    width: 15px;
    height: 0;
}

.scrollbar::-moz-resizer {
    width: 15px;
    height: 0;
}

.scrollbar::-webkit-scrollbar {
    width: 15px;
}

.scrollbar::-moz-scrollbar {
    width: 15px;
}

/************************************************/
